* {
  box-sizing: border-box;
}

.posts-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
  a {
    text-decoration: none;
  }
}

.post-item {
  width: calc(33.3% - 10px);
  margin: 5px;
}

// .post-item > p {
//   width: 100%;
// }

.post-number {
  background-color: #ddd;
  text-align: right;
}

.user-images, .user-posts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.user-images > img {
  width: 50%;
  margin: 0;
}
